
.p-bg{
    background-image: url(https://github.com/yaiiow159/Timmy-s-3c-store/blob/main/img/laptop-bar-middle.jpg);
}
.p-bg-second{
    background-image: url(https://github.com/yaiiow159/Timmy-s-3c-store/blob/main/img/laptop-bar-middle.jpg);
}

.p-bg-third{
    background-image: url(https://github.com/yaiiow159/Timmy-s-3c-store/blob/main/img/laptop-bar-middle.jpg);
}

.carousel-height{
    height: 496px;
}