
.p-bg{
    background-image: url(../img/laptop-bar-middle.jpg);
}
.p-bg-second{
    background-image: url(../img/laptop-bar2-middle.jpg);
}

.p-bg-third{
    background-image: url(../img/laptop-bar3-middle.jpg);
}

.carousel-height{
    height: 496px;
}