.process-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
    display: block;
}
// list item
.process-step {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    min-height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;


}
//
.step-wrapper {
    padding: 30px 5px 0 5px;
    display: block;
    position: relative;
    overflow: hidden; // prevent bar from extending
}
// process bar
.step-wrapper:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 5px;
    width: 100px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFAQMAAABGqu8rAAAAA1BMVEXgUSCWVqGnAAAACklEQVQI12NABQAADwABdYmHTwAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
}
// start bar in first item
.first .step-wrapper:before {
    left: 50px;
}
// end bar in last item
.last .step-wrapper:before {
    left: auto;
    right: 50px;
}
// bullet
.step-wrapper:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    height: 20px;
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAA8CAMAAABRqGpkAAAAJ1BMVEUAAADgUSDgUSDgUSDgUSDgUSDgUSDgUSDgUSD////42tDrjm/yt6IPf6ysAAAACHRSTlMAZu67Ed2qmaQXgZMAAACJSURBVHja7ZPbCsAwCEO1dpt2+//vHYR2N/M8GOw82ZBQa1FAVSvuxbTKgU7emXRoi19YBMx+Y0bWH6hILajWFtFWlKV24xZg61aDLzrwmiDdhtiQFwTiAEcq0ji9iLZEm2fPZAPho+NDTt/x8w3e3qPBuUfZalk0SWnsEYGKNE4voi2l5l/dox3ttBONuskuxgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: top center;
}
// active bullet
.active .step-wrapper:after {
    background-position: bottom center;
}

.step-text{
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
}
